{% extends 'base.html' %}
{% load static %}

{% block title %} Signup {% endblock title %}


{% block extra_css %}
        <link href="{% static 'css/style.css' %}" rel="stylesheet" />
{% endblock %}



{% block content %}


<div class="login_form">

  <form action="#">

    <h3>Log in</h3>

    <!-- Email -->
    <div class="input_box">
      <label for="email">Email</label>
      <input type="email" id="email" placeholder="Enter email address" required />
    </div>

    <!-- Password -->
    <div class="input_box">
      <div class="password_title">
        <label for="password">Password</label>
        
      </div>
      <input type="password" id="password" placeholder="Enter your password" required />
    </div>

    <!-- Button -->
    <button type="submit">Log In</button>

    <p class="sign_up">
      Don't have an account? <a href="{% url 'signup' %}">Sign up</a>
    </p>
    <p class="sign_up">
      <a href="{% url 'forget_password' %}">Forgot Password?</a>
    </p>

    <!-- Separator INSIDE form -->
    <p class="separator"><span>or</span></p>

    <!-- Social login -->
    <div class="login_option">

      <div class="option">
        <a href="#">
          <img src="{% static 'images/google.png' %}" alt="Google" />
          <span>Google</span>
        </a>
      </div>

      <div class="option">
        <a href="#">
          <img src="{% static 'images/facebook.png' %}" alt="Apple" />
          <span>Facebook</span>
        </a>
      </div>

    </div>

  </form>

</div>


{% endblock content %}